
{% extends app.request.xmlHttpRequest ? 'admin/ajax_base.html.twig' : 'admin/base.html.twig' %}

{% block gba_admin_content %}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body with-border no-padding">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            {% if not app.request.xmlHttpRequest %}
                                <th>Actions</th>
                            {% endif %}
                            <th>{{ knp_pagination_sortable(mediaFiles, 'Id', 'f.id') }}</th>
                            <th>Archivo</th>
                            <th>{{ knp_pagination_sortable(mediaFiles, 'Name', 'f.name') }}</th>
                            {#<th>Path</th>#}
                            <th>{{ knp_pagination_sortable(mediaFiles, 'Createdat', 'f.createdAt') }}</th>
                            {#<th>{{ knp_pagination_sortable(mediaFiles, 'Updatedat', 'f.updatedAt') }}</th>#}
                            {% if app.request.xmlHttpRequest %}
                                <th class="text-center"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for mediaFile in mediaFiles %}
                        <tr>
                            {% if not app.request.xmlHttpRequest %}
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('admin_media_file_show', { 'id': mediaFile.id }) }}">{{ 'admin.action.show'|trans }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin_media_file_edit', { 'id': mediaFile.id }) }}">{{ 'admin.action.edit'|trans }}</a>
                                        </li>
                                    </ul>
                                </td>
                            {% endif %}
                            <td><a href="{{ path('admin_media_file_show', { 'id': mediaFile.id }) }}">{{ mediaFile.id }}</a></td>
                            <td>
                                <a href="{{ asset(mediaFile.getWebPath) }}" data-id="{{ mediaFile.id }}">
                                    {# {% thumbnail object, 'admin' with {'width': 90} %} #}
                                    <img src="{{ asset(mediaFile.getWebPath) }}" width="90"/>
                                </a>
                            </td>
                            <td>{{ mediaFile.name }}</td>
                            {#<td>{{ mediaFile.path }}</td>#}
                            <td>{% if mediaFile.createdAt %}{{ mediaFile.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            {#<td>{% if mediaFile.updatedAt %}{{ mediaFile.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                            {% if app.request.xmlHttpRequest %}
                                <td class="text-center ott-list-field">
                                    <a href="{{ path('admin_media_file_show', { 'id': mediaFile.id }) }}" data-id="{{ mediaFile.id }}" class="btn btn-default"><i class="fa fa-arrow-right"></i>  {{ 'admin.action.select'|trans }}</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <div class="row">
                    <div class="col-xs-6 text-left">
                        {% set numPages = mediaFiles.getTotalItemCount / mediaFiles.getItemNumberPerPage %}
                        <b>{{ mediaFiles.getCurrentPageNumber }} / {{ numPages|ceil }} - {{ mediaFiles.getTotalItemCount }} resultados</b>
                    </div>
                    <div class="col-xs-6 text-right">
                        {{ knp_pagination_render(mediaFiles) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>

{% endblock %}
