{% extends 'base.html.twig' %}

{% block body %}
    <h1>MediaFileTag</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mediaFileTag.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ mediaFileTag.name }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if mediaFileTag.createdAt %}{{ mediaFileTag.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if mediaFileTag.updatedAt %}{{ mediaFileTag.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_media_file_tag_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_media_file_tag_edit', { 'id': mediaFileTag.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
