{% extends app.request.xmlHttpRequest ? 'admin/ajax_base.html.twig' : 'admin/base.html.twig' %}

{% set form = edit_form %}
{% form_theme form 'admin/form/fields.html.twig' %}
{% import 'admin/property/macro.html.twig' as macro %}

{% block gba_page_content_title %}
    <h1>Inmuebles <small>{{ 'admin.title.edit'|trans }}</small></h1>
{% endblock %}

{% block gba_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ path('admin_property_index') }}">Inmuebles</a></li>
        <li class="active">{{ property }}</li>
    </ol>
{% endblock %}

{% block gba_admin_content %}

    {{ form_start(form) }}

        {{ macro.form_widget(form) }}

        <div class="well well-sm form-actions">
            <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save"></i> {{ 'admin.action.update'|trans }}</button>
            {#<button type="submit" class="btn btn-success" name="btn_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Update and close</button>#}
            {{ 'admin.word.or'|trans }}
            <a class="btn btn-danger" href="{{ path('admin_property_delete', {'id':property.id}) }}"><i class="fa fa-minus-circle"></i> {{ 'admin.action.delete'|trans }}</a>
        </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ macro.form_js() }}
{% endblock %}

