{% extends app.request.xmlHttpRequest ? 'admin/ajax_base.html.twig' : 'admin/base.html.twig' %}

{% block gba_page_content_title %}
    <h1>Inmuebles <small>{{ 'admin.title.list'|trans }}</small></h1>
{% endblock %}

{% block gba_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Inmuebles</li>
    </ol>
{% endblock %}

{% block gba_admin_content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body with-border no-padding">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            {% if not app.request.xmlHttpRequest %}
                                <th>Actions</th>
                            {% endif %}
                            <th>{{ knp_pagination_sortable(properties, 'Id', 'p.id') }}</th>
                            <th>{{ knp_pagination_sortable(properties, 'Reference', 'p.reference') }}</th>
                            <th>{{ knp_pagination_sortable(properties, 'Type', 'p.type') }}</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>{{ knp_pagination_sortable(properties, 'Status', 'p.surface') }}</th>
                            <th>Price</th>
                            <th>{{ knp_pagination_sortable(properties, 'NumRoom', 'p.numRoom') }}</th>
                            <th>{{ knp_pagination_sortable(properties, 'NumBath', 'p.numBath') }}</th>
                            <th>Photos</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for property in properties %}
                            {% set address = property.address %}
                            {% set modalitySale = property.modalitySale %}
                            {% set modalityRental = property.modalityRental %}
                            <tr>
                                {% if not app.request.xmlHttpRequest %}
                                    <td>
                                        <ul>
                                            <li>
                                                <a href="{{ path('admin_property_show', { 'id': property.id }) }}">{{ 'admin.action.show'|trans }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('admin_property_edit', { 'id': property.id }) }}">{{ 'admin.action.edit'|trans }}</a>
                                            </li>
                                        </ul>
                                    </td>
                                {% endif %}
                                <td><a href="{{ path('admin_property_show', { 'id': property.id }) }}">{{ property.id }}</a></td>
                                <td>{{ property.reference }}</td>
                                <td><b>{{ property.type }}</b><br>{{ property.subtype }}</td>
                                <td>
                                    {% if address %}
                                        {{ address.municipality }} /
                                        {{ address.streetType }} {{ address.street }} {{ address.number }} , {{ address.floor }} {{ address.stair }} {{ address.door }}
                                    {% endif %}
                                </td>
                                <td>{{ property.status }}</td>
                                <td>{{ property.surface }}m<sup>2</sup></td>
                                <td>
                                    <div>{% if modalitySale and property.sale %}
                                        {{ modalitySale.price|localizedcurrency('EUR') }}
                                    {% endif %}
                                    </div>
                                    <div>{% if modalityRental and property.rental %}
                                        {{ modalityRental.price|localizedcurrency('EUR') }} / Mes
                                    {% endif %}
                                    </div>
                                </td>
                                <td>{{ property.numRoom }}</td>
                                <td>{{ property.numBath }}</td>
                                <td>TODO</td>
                                {% if app.request.xmlHttpRequest %}
                                    <td class="text-center ott-list-field">
                                        <a href="{{ path('admin_property_show', { 'id': property.id }) }}" data-id="{{ property.id }}" class="btn btn-default"><i class="fa fa-arrow-right"></i>  {{ 'admin.action.select'|trans }}</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            {% set numPages = properties.getTotalItemCount / properties.getItemNumberPerPage %}
                            <b>{{ properties.getCurrentPageNumber }} / {{ numPages|ceil }} - {{ properties.getTotalItemCount }} resultados</b>
                        </div>
                        <div class="col-xs-6 text-right">
                            {{ knp_pagination_render(properties) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>

{% endblock %}
