
{% macro form_widget(form) %}

    {% set property = form.vars.data  %}

    <div class="row">
        {# Detalles del nuevo inmueble #}
        <div class="col-sm-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Detalles</h3>
                </div>
                <div class="box-body">

                    {{ form_row(form.reference, {'label': 'property.form.label.reference'|trans({}, 'admin')}) }}
                    {{ form_row(form.type, {'label': 'property.form.label.type'|trans({}, 'admin')}) }}
                    {{ form_row(form.subtype, {'label': 'property.form.label.subtype'|trans({}, 'admin')}) }}
                    {{ form_row(form.isNewConstruction, {'label': 'property.form.label.isNewConstruction'|trans({}, 'admin')}) }}
                    {{ form_row(form.isBankAwarded, {'label': 'property.form.label.isBankAwarded'|trans({}, 'admin')}) }}
                    <div class="field-wrapper" {% if not property.isBankAwarded %}style="display:none"{% endif %}">
                    {{ form_row(form.bankAwarded, {'label': 'property.form.label.bankAwarded'|trans({}, 'admin')}) }}
                </div>
                {{ form_row(form.activationDate, {'label': 'property.form.label.activationDate'|trans({}, 'admin')}) }}
                {{ form_row(form.status, {'label': 'property.form.label.status'|trans({}, 'admin')}) }}
                {#{{ form_row(form.statusReserved) }}
                {{ form_row(form.statusNotAvailable) }}#}

            </div>
            <!-- /.box-body -->
        </div>
        </div>

        {# Dirección del nuevo inmueble #}
        <div class="col-sm-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Dirección</h3>
                </div>
                <div class="box-body">

                    {{ form_row(form.address.country, {'label': 'address.form.label.country'|trans({}, 'admin')}) }}
                    {{ form_row(form.address.postalCode, {
                        'attr': {'class': 'select2'},
                        'label': 'address.form.label.country'|trans({}, 'admin')
                    }) }}
                    {#{{ form_row(form.address.postalCode) }}#}
                    {{ form_row(form.address.municipality, {'label': 'address.form.label.municipality'|trans({}, 'admin')}) }}
                    {{ form_row(form.address.streetType, {'label': 'address.form.label.streetType'|trans({}, 'admin')}) }}
                    {{ form_row(form.address.street, {'label': 'address.form.label.street'|trans({}, 'admin')}) }}

                    <div class="row">
                        <div class="col-sm-6">{{ form_row(form.address.number, {'label': 'address.form.label.number'|trans({}, 'admin')}) }}</div>
                        <div class="col-sm-6">{{ form_row(form.address.floor, {'label': 'address.form.label.floor'|trans({}, 'admin')}) }}</div>
                        <div class="col-sm-6">{{ form_row(form.address.stair, {'label': 'address.form.label.stair'|trans({}, 'admin')}) }}</div>
                        <div class="col-sm-6">{{ form_row(form.address.door, {'label': 'address.form.label.door'|trans({}, 'admin')}) }}</div>
                    </div>

                    {{ form_row(form.address.modeShowAddress, {'label': 'address.form.label.modeShowAddress'|trans({}, 'admin')}) }}

                    {% set addressZoneStyle = 'display:none' %}
                    {% if property.address %}
                        {% if property.address.modeShowAddress %}
                            {% if property.address.modeShowAddress.id == 3 %}
                                {% set addressZoneStyle = '' %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <div class="field-wrapper" style="{{ addressZoneStyle }}">
                        {{ form_row(form.address.zone, {'label': 'address.form.label.zone'|trans({}, 'admin')}) }}
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        {# Datos del inmueble #}
        <div class="col-sm-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Datos</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.surface, {'label': 'property.form.label.surface'|trans({}, 'admin')}) }}
                    {{ form_row(form.hideSurface, {'label': 'property.form.label.hideSurface'|trans({}, 'admin')}) }}
                    {{ form_row(form.sale, {'label': 'property.form.label.sale'|trans({}, 'admin')}) }}
                    <div class="well well-sm field-wrapper" style="{% if not property.sale %}display:none{% endif %}">
                        {{ form_row(form.modalitySale, {'label': 'property.form.label.modalitySale'|trans({}, 'admin')}) }}
                    </div>
                    {{ form_row(form.rental, {'label': 'property.form.label.rental'|trans({}, 'admin')}) }}
                    <div class="well well-sm field-wrapper" style="{% if not property.rental %}display:none{% endif %}">
                        {{ form_row(form.modalityRental, {'label': 'property.form.label.modalityRental'|trans({}, 'admin')}) }}
                    </div>
                    {{ form_row(form.currency, {'label': 'property.form.label.currency'|trans({}, 'admin')}) }}
                    {{ form_row(form.hidePrice, {'label': 'property.form.label.hidePrice'|trans({}, 'admin')}) }}
                    {{ form_row(form.hotWater, {'label': 'property.form.label.hotWater'|trans({}, 'admin')}) }}
                    {{ form_row(form.constructionYear, {'label': 'property.form.label.constructionYear'|trans({}, 'admin')}) }}
                    {{ form_row(form.heating, {'label': 'property.form.label.heating'|trans({}, 'admin')}) }}
                    {{ form_row(form.energyCertificate, {'label': 'property.form.label.energyCertificate'|trans({}, 'admin')}) }}
                    {{ form_row(form.conservation, {'label': 'property.form.label.conservation'|trans({}, 'admin')}) }}
                    {{ form_row(form.numToilet, {'label': 'property.form.label.numToilet'|trans({}, 'admin')}) }}
                    {{ form_row(form.numBath, {'label': 'property.form.label.numBath'|trans({}, 'admin')}) }}
                    {{ form_row(form.numRoom, {'label': 'property.form.label.numRoom'|trans({}, 'admin')}) }}
                    {{ form_row(form.orientation, {'label': 'property.form.label.orientation'|trans({}, 'admin')}) }}
                    {{ form_row(form.observation, {
                        'label': 'property.form.label.observation'|trans({}, 'admin'),
                        'attr': {
                            'placeholder': 'Escribe aquí cualquier aspecto que quieras destacar sobre los extras... Las observaciones no se publicarán.'
                        }
                    }) }}
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        {# Descripción #}
        <div class="col-sm-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Descripción</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.shortDescription, {'label': 'property.form.label.shortDescription'|trans({}, 'admin')}) }}
                    {{ form_row(form.fullDescription, {
                        'label': 'property.form.label.fullDescription'|trans({}, 'admin'),
                        'attr': {
                            'placeholder': 'Esta es la descripción que se publicará'
                        }
                    }) }}
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        {# Extras #}
        <div class="col-sm-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Extras</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.extras, {'label': false}) }}
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        {# Fotos y documentos #}
        <div class="col-sm-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Documentos y Fotos</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.energyCertificateFile, {'label': 'property.form.label.energyCertificateFile'|trans({}, 'admin')}) }}
                    {{ form_row(form.images, {'label': 'property.form.label.images'|trans({}, 'admin')}) }}
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

{% endmacro %}

{% macro form_js() %}
    <script>
        var $type = $('#property_type');
        // When sport gets selected ...
        $type.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected sport value.
            var data = {'dynamic_form_event': true};
            data[$type.attr('name')] = $type.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current position field ...
                    $('#property_subtype').replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(html).find('#property_subtype')
                    );
                    // Position field now displays the appropriate positions.
                }
            });
        });


        var $isBankAwarded = $('#property_isBankAwarded');
        $isBankAwarded.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected value.
            var data = {'dynamic_form_event': true};
            if ($isBankAwarded.is(':checked')) data[$isBankAwarded.attr('name')] = '1';
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current position field ...
                    $('#property_bankAwarded').parents('.field-wrapper').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#property_bankAwarded').parents('.field-wrapper')
                    );
                }
            });
        });

        var $postalCode = $('#property_address_postalCode');
        $postalCode.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected value.
            var data = {'dynamic_form_event': true};
            data[$postalCode.attr('name')] = $postalCode.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current position field ...
                    $('#property_address_municipality').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#property_address_municipality')
                    );
                }
            });
        });

        var $modeShowAddress = $('#property_address_modeShowAddress input:radio');
        $modeShowAddress.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected value.
            var data = {'dynamic_form_event': true};
            data[$modeShowAddress.attr('name')] = $(this).val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current position field ...
                    $('#property_address_zone').parents('.field-wrapper').replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(html).find('#property_address_zone').parents('.field-wrapper')
                    );
                }
            });
        });

        var $sale = $('#property_sale');
        $sale.change(function() {
            if ($sale.is(':checked')) {
                $('#property_modalitySale').parents('.field-wrapper').show();
            } else {
                $('#property_modalitySale').parents('.field-wrapper').hide();
            }
        });

        var $rental = $('#property_rental');
        $rental.change(function() {
            if ($rental.is(':checked')) {
                $('#property_modalityRental').parents('.field-wrapper').show();
            } else {
                $('#property_modalityRental').parents('.field-wrapper').hide();
            }
        });

    </script>
{% endmacro %}