{#
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Property creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_property_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
#}

{% extends 'admin/base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block gba_admin_content %}

    {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
    <div class="row">

        {# Detalles del nuevo inmueble #}
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Detalles del nuevo inmueble</h3>
                </div>
                <div class="box-body">

                    {{ form_row(form.reference) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.subtype) }}
                    {{ form_row(form.isNewConstruction) }}
                    {{ form_row(form.isBankAwarded) }}
                    <div class="field-wrapper" {% if not property.isBankAwarded %}style="display:none"{% endif %}">
                        {{ form_row(form.bankAwarded) }}
                    </div>
                    {{ form_row(form.activationDate) }}
                    {{ form_row(form.status) }}
                    {#{{ form_row(form.statusReserved) }}
                    {{ form_row(form.statusNotAvailable) }}#}

                </div>
                <!-- /.box-body -->
            </div>
        </div>

        {# Direcci贸n del nuevo inmueble #}
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Direcci贸n del nuevo inmueble</h3>
                </div>
                <div class="box-body">

                    {{ form_row(form.address.country) }}
                    {{ form_row(form.address.postalCode) }}
                    {{ form_row(form.address.municipality) }}
                    {{ form_row(form.address.streetType) }}
                    {{ form_row(form.address.street) }}

                    <div class="row">
                        <div class="col-sm-6">{{ form_row(form.address.number) }}</div>
                        <div class="col-sm-6">{{ form_row(form.address.floor) }}</div>
                        <div class="col-sm-6">{{ form_row(form.address.stair) }}</div>
                        <div class="col-sm-6">{{ form_row(form.address.door) }}</div>
                    </div>

                    {{ form_row(form.address.modeShowAddress) }}

                    {% set addressZoneStyle = 'display:none' %}
                    {% if property.address %}
                        {% if property.address.modeShowAddress %}
                            {% if property.address.modeShowAddress.id == 3 %}
                                {% set addressZoneStyle = '' %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <div class="field-wrapper" style="{{ addressZoneStyle }}">
                        {{ form_row(form.address.zone) }}
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        {# Datos del inmueble #}
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Datos del inmueble</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.surface) }}
                    {{ form_row(form.hideSurface) }}
                    {{ form_row(form.sale) }}
                    <div class="field-wrapper" style="{% if not property.sale %}display:none{% endif %}">
                        {{ form_row(form.modalitySale) }}
                    </div>
                    {{ form_row(form.rental) }}
                    <div class="field-wrapper" style="{% if not property.rental %}display:none{% endif %}">
                        {{ form_row(form.modalityRental) }}
                    </div>
                    {{ form_row(form.currency) }}
                    {{ form_row(form.hidePrice) }}
                    {{ form_row(form.hotWater) }}
                    {{ form_row(form.constructionYear) }}
                    {{ form_row(form.heating) }}
                    {{ form_row(form.energyCertificate) }}
                    {{ form_row(form.conservation) }}
                    {{ form_row(form.numToilet) }}
                    {{ form_row(form.numBath) }}
                    {{ form_row(form.numRoom) }}
                    {{ form_row(form.orientation) }}
                    {{ form_row(form.observation) }}
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        {# Descripci贸n #}
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Descripci贸n</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.shortDescription) }}
                    {{ form_row(form.fullDescription) }}
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        {# Extras #}
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Extras</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.extras) }}
                </div>
                <!-- /.box-body -->
            </div>
        </div>


    </div>

    <div class="sonata-ba-form-actions well well-small form-actions">
        <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save"></i> Create</button>
        <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Create and return to list</button>
        <button class="btn btn-success" type="submit" name="btn_create_and_create"><i class="fa fa-plus-circle"></i> Create and add another</button>
    </div>
    {{ form_end(form) }}

{% endblock %}


{% block javascripts %}

    <script>
    var $type = $('#property_type');
    // When sport gets selected ...
    $type.change(function() {
        // ... retrieve the corresponding form.
        var $form = $(this).closest('form');
        // Simulate form data, but only include the selected sport value.
        var data = {};
        data[$type.attr('name')] = $type.val();
        // Submit data via AJAX to the form's action path.
        $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : data,
            success: function(html) {
                // Replace current position field ...
                $('#property_subtype').replaceWith(
                    // ... with the returned one from the AJAX response.
                    $(html).find('#property_subtype')
                );
                // Position field now displays the appropriate positions.
            }
        });
    });


    var $isBankAwarded = $('#property_isBankAwarded');
    $isBankAwarded.change(function() {
        // ... retrieve the corresponding form.
        var $form = $(this).closest('form');
        // Simulate form data, but only include the selected value.
        var data = {};
        if ($isBankAwarded.is(':checked')) data[$isBankAwarded.attr('name')] = '1';
        // Submit data via AJAX to the form's action path.
        $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : data,
            success: function(html) {
                // Replace current position field ...
                $('#property_bankAwarded').parents('.field-wrapper').replaceWith(
                    // ... with the returned one from the AJAX response.
                    $(html).find('#property_bankAwarded').parents('.field-wrapper')
                );
            }
        });
    });

    var $postalCode = $('#property_address_postalCode');
    $postalCode.change(function() {
        // ... retrieve the corresponding form.
        var $form = $(this).closest('form');
        // Simulate form data, but only include the selected value.
        var data = {};
        data[$postalCode.attr('name')] = $postalCode.val();
        // Submit data via AJAX to the form's action path.
        $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : data,
            success: function(html) {
                // Replace current position field ...
                $('#property_address_municipality').replaceWith(
                    // ... with the returned one from the AJAX response.
                    $(html).find('#property_address_municipality')
                );
            }
        });
    });

    var $modeShowAddress = $('#property_address_modeShowAddress input:radio');
    $modeShowAddress.change(function() {
        // ... retrieve the corresponding form.
        var $form = $(this).closest('form');
        // Simulate form data, but only include the selected value.
        var data = {};
        data[$modeShowAddress.attr('name')] = $(this).val();
        // Submit data via AJAX to the form's action path.
        $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : data,
            success: function(html) {
                // Replace current position field ...
                $('#property_address_zone').parents('.field-wrapper').replaceWith(
                    // ... with the returned one from the AJAX response.
                    $(html).find('#property_address_zone').parents('.field-wrapper')
                );
            }
        });
    });

    var $sale = $('#property_sale');
    $sale.change(function() {
        if ($sale.is(':checked')) {
            $('#property_modalitySale').parents('.field-wrapper').show();
        } else {
            $('#property_modalitySale').parents('.field-wrapper').hide();
        }
    });

    var $rental = $('#property_rental');
    $rental.change(function() {
        if ($rental.is(':checked')) {
            $('#property_modalityRental').parents('.field-wrapper').show();
        } else {
            $('#property_modalityRental').parents('.field-wrapper').hide();
        }
    });

</script>
{% endblock %}

