{#
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Property creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_property_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
#}

{% extends 'admin/base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% import 'admin/property/form_macro.html.twig' as form_macro %}

{% block gba_admin_content %}

    {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}

        {{ form_macro.form_widget(form) }}

        <div class="sonata-ba-form-actions well well-small form-actions">
            <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save"></i> Create</button>
            <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Create and return to list</button>
            <button class="btn btn-success" type="submit" name="btn_create_and_create"><i class="fa fa-plus-circle"></i> Create and add another</button>
        </div>
    {{ form_end(form) }}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ form_macro.form_js() }}
{% endblock %}

