{% extends 'base.html.twig' %}

{% block body %}
    <h1>StatusReserved list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Clientclose</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statusReserved in statusReserveds %}
            <tr>
                <td><a href="{{ path('admin_status_reserved_show', { 'id': statusReserved.id }) }}">{{ statusReserved.id }}</a></td>
                <td>{% if statusReserved.startDate %}{{ statusReserved.startDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if statusReserved.endDate %}{{ statusReserved.endDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ statusReserved.clientClose }}</td>
                <td>{% if statusReserved.createdAt %}{{ statusReserved.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if statusReserved.updatedAt %}{{ statusReserved.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_status_reserved_show', { 'id': statusReserved.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_status_reserved_edit', { 'id': statusReserved.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_status_reserved_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
