{#
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Property list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Isnewconstruction</th>
                <th>Isbankawarded</th>
                <th>Activationdate</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td><a href="{{ path('admin_property_show', { 'id': property.id }) }}">{{ property.id }}</a></td>
                <td>{{ property.reference }}</td>
                <td>{% if property.isNewConstruction %}Yes{% else %}No{% endif %}</td>
                <td>{% if property.isBankAwarded %}Yes{% else %}No{% endif %}</td>
                <td>{% if property.activationDate %}{{ property.activationDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if property.createdAt %}{{ property.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if property.updatedAt %}{{ property.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_property_show', { 'id': property.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_property_edit', { 'id': property.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_property_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
#}

{% extends 'admin/base.html.twig' %}

{% block gba_admin_content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body with-border no-padding">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Reference</th>
                            <th>Isnewconstruction</th>
                            <th>Isbankawarded</th>
                            <th>Activationdate</th>
                            <th>Createdat</th>
                            <th>Updatedat</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for property in properties %}
                            <tr>
                                <td><a href="{{ path('admin_property_show', { 'id': property.id }) }}">{{ property.id }}</a></td>
                                <td>{{ property.reference }}</td>
                                <td>{% if property.isNewConstruction %}Yes{% else %}No{% endif %}</td>
                                <td>{% if property.isBankAwarded %}Yes{% else %}No{% endif %}</td>
                                <td>{% if property.activationDate %}{{ property.activationDate|date('Y-m-d') }}{% endif %}</td>
                                <td>{% if property.createdAt %}{{ property.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{% if property.updatedAt %}{{ property.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('admin_property_show', { 'id': property.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin_property_edit', { 'id': property.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                    {#<div class="pull-left">
                    </div>
                    <div class="pull-right">
                    </div>#}
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>

{% endblock %}
